<form autocomplete="off" onsubmit="event.preventDefault();">

  <div id="main">
    <div class="groups">
      <p><em>
        {{localize "mtte.favoriteSettingsDescription"}}
      </em></p>
      <hr>
      <ol class="item-list">
        <li class="item flexrow" data-entry="all">
          <div class="id"><h3>{{localize "mtte.id"}}</h3></div>
          <div class="icon"><h3>{{localize "mtte.icon"}}</h3></div>
          <div class="iconImg"></div>
          <div class="count"><h3>{{localize "mtte.items"}}</h3></div>
          <div class="count"><h3>{{localize "mtte.size"}}</h3></div>
          <div class="count"><h3>{{localize "mtte.runMacro"}}</h3></div>
          <div class="actions"><h3>{{localize "mtte.actions"}}</h3></div>
        </li>
        {{#each favorites as |fav|}}
        <li class="item flexrow {{#unless fav.visible}}invisible{{/unless}}" data-id="{{fav.id}}">
          <div class="id">{{fav.id}}</div>
          <div class="icon">{{fav.icon}}</div>
          <div class="iconImg"><i class="{{fav.icon}}"></i></div>
          <div class="count">{{fav.items}}</div>
          <div class="count">{{fav.size}}</div>
          <div class="count">{{fav.macros}}</div>
          <div class="actions">
            <a class="toggle"><i class="fas fa-eye{{#unless fav.visible}}-slash{{/unless}}"></i> </a>
            {{#if fav.editable}}
              <a class="edit"><i class="fas fa-edit"></i> </a>
              <a class="delete"><i class="fas fa-trash"></i> </a>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    <footer>
      <div class="edit">
        <h2>{{localize "mtte.editGroup"}}</h2>

        <div class="form-group actions">
          <div class="name">{{localize "mtte.icon"}} :</div>
          <input type="hidden" id="IconSourceIdEdit" />
          <input type="text" id="IconIdEdit" placeHolder="{{localize "mtte.idPlaceHolder"}}"/>
          <input type="text" id="IconInputEdit" placeHolder="{{localize "mtte.iconPlaceHolder"}}"/>
          <button type="button" id="GetIconPickerEdit" data-iconpicker-input="input#IconInputEdit" data-iconpicker-preview="i#PreviewIconEdit" class="search"><i class="fas fa-search" id="PreviewIconEdit"></i></button>
        </div>

        <div class="form-group actions">
          <div class="name">{{localize "mtte.groupTileSize"}} <i class="fas fa-question-circle" title="{{localize "mtte.groupTileSizeHint"}}"></i> :</div>
          <input class="tilesize" id="tileSizeEdit" type="text" name="tilesize" maxlength="4">
          <div class="macroLabel">{{localize "mtte.runMacro"}} <i class="fas fa-question-circle" title="{{localize "mtte.groupMacroHint"}}"></i> :</div>
          <input class="macros" id="macrosEdit" type="text" name="macros">
        </div>

        <div class="form-group actions">
          <button type="button" class="cancel"><i class="fas fa-times"></i> {{localize "mtte.cancel"}}</button>
          <button type="button" class="apply"><i class="fas fa-save"></i> {{localize "mtte.apply"}}</button>
        </div>
      </div>
      <div class="new">
        <h2>{{localize "mtte.addNewGroup"}}</h2>

        <div class="form-group actions">
          <div class="name">{{localize "mtte.icon"}} :</div>
          <input type="text" id="IconId" placeHolder="{{localize "mtte.idPlaceHolder"}}"/>
          <input type="text" id="IconInput" placeHolder="{{localize "mtte.iconPlaceHolder"}}"/>
          <button type="button" id="GetIconPicker" data-iconpicker-input="input#IconInput" data-iconpicker-preview="i#PreviewIcon" class="search"><i class="fas fa-search" id="PreviewIcon"></i></button>
        </div>
        <div class="form-group actions">
          <div class="name">{{localize "mtte.groupTileSize"}} <i class="fas fa-question-circle" title="{{localize "mtte.groupTileSizeHint"}}"></i> :</div>
          <input class="tilesize" id="tileSize" type="text" name="tilesize" maxlength="4">
          <div class="macroLabel">{{localize "mtte.runMacro"}} <i class="fas fa-question-circle" title="{{localize "mtte.groupMacroHint"}}"></i> :</div>
          <input class="macros" id="macros" type="text" name="macros">
        </div>

        <div class="form-group actions">
          <button type="button" class="add"><i class="fas fa-plus-circle"></i> {{localize "mtte.addGroup"}}</button>
        </div>
      </div>
    </footer>
  </div>

</form>
