<form autocomplete="off" onsubmit="event.preventDefault();">
  <h3>{{pretty tile.filename}}</h3>

  <div class="image">
    <div class="tileres draggable">
      {{#unless tile.isVideo}}
      <img id="previewImage" width="400" height="400" src="{{tile.assetURL}}{{tile.sas}}" title="{{localize "mtte.dragTile"}}"/>
      {{/unless}}
      {{#if tile.isVideo}}
      <video id="previewImage" width="400" height="400" autoplay loop muted>
        <source src="{{tile.assetURL}}{{tile.sas}}" type="video/webm">
        Your browser does not support the video tag.
      </video>
      {{/if}}
    </div>
    <div class="categories">
      <h2>{{localize "mtte.categories"}}</h2>
      {{#unless cloudEnabled}}<div class="error">{{localize "mtte.moulinetteCloudDisabledCategories"}}</div>{{/unless}}
      {{#if cloudEnabled}}
        {{#if noCategories}}<div class="error">{{localize "mtte.categorizationWarning"}}</div>{{/if}}
        {{#unless noCategories}}
          {{#each categories as |c|}}
            <div class="category" data-id="{{c.id}}"><span class="label">{{c.name}}</span>
            <select class="combo" data-id="{{c.id}}" {{#unless ../user.patron}}disabled{{/unless}}>
            <option value="">---</option>
            {{#each c.options as |o|}}<option value="{{o.id}}" {{#if o.selected}}selected{{/if}}>{{o.name}}</option>{{/each}}
            </select>
            </div>
          {{/each}}
          <button class="saveCategories" title="{{localize "mtte.saveCategoriesToolTip"}}" {{#unless user.patron}}disabled{{/unless}}><i class="fas fa-save"></i> {{localize "mtte.saveCategories"}}</button>
          <div class="links">
            <a href="https://www.moulinette.cloud/getting-started/use-moulinette-to-access-creators-assets/categories" target="_blank">{{ localize "mtte.categorizeHowTo"}}</a>
          </div>
        {{/unless}}
      {{/if}}
    </div>
  </div>

  <p>
    <i>Search provided by <a href="https://www.patreon.com/moulinette">Moulinette</a>.</i>
  </p>
  <p>  
    {{localize "mtte.imageSize"}} : <span class="imageSizes">? x ?</span>
  </p>
  {{#if tile.pack.pubWebsite}}
  <p>  
    {{localize "mtte.imageFrom"}} <a href="{{tile.pack.pubWebsite}}" target="_blank">{{tile.pack.publisher}}</a> (<a href="{{tile.pack.url}}" target="_blank">{{tile.pack.name}}</a>)
  </p>
  {{/if}}
  {{#unless tile.pack.pubWebsite}}
  <p>  
    {{localize "mtte.imageFrom"}} {{tile.pack.publisher}} ({{tile.pack.name}})
  </p>
  {{/unless}}
  {{#if tile.pack.licenseUrl}}
  <p>  
    {{localize "mtte.license"}} <a href="{{tile.pack.licenseUrl}}" target="_blank">{{tile.pack.license}}</a>
  </p>
  {{/if}}
  {{#unless tile.pack.pubWebsite}}
  <p>  
    {{localize "mtte.license"}} {{localize "mtte.unknownLicense"}}
  </p>
  {{/unless}}
  <footer>
    <div class="actions">
      {{#if tile.pack.isRemote}}
      <button class="download" title="{{localize "mtte.downloadImageToolTip"}}"><i class="fas fa-cloud-download-alt"></i> {{localize "mtte.downloadImage"}}</button>
      {{/if}}
      {{#unless tile.pack.isRemote}}
      <button class="clipboard" title="{{localize "mtte.clipboardImageToolTip"}}"><i class="fas fa-clipboard"></i> {{localize "mtte.clipboardImage"}}</button>
      {{/unless}}
      <button class="createTile" title="{{localize "mtte.createTileToolTip"}}"><i class="fas fa-puzzle-piece"></i> {{localize "mtte.createTile"}}</button>
      <button class="createScene" title="{{localize "mtte.createSceneToolTip"}}"><i class="fas fa-map"></i> {{localize "mtte.createScene"}}</button>
    </div>
  </footer>
</form>
